[Desktop Entry]
Name=MOV.AI Flow™
GenericName=MOV.AI Flow™
Comment=MOV.AI Flow™
Exec=/usr/bin/movai-flow-launch
Icon=movai-flow
Terminal=true
StartupWMClass=MOV.AI Flow™
MimeType=application/octet-stream;application/zip;text/xml;text/xml;x-scheme-handler/movai;
Type=Application
Categories=Development;
PrefersNonDefaultGPU=true
