[Desktop Entry]
Name=MOV.AI Studio CLI
GenericName=MOV.AI CLI
Comment=MOV.AI Development Studio CLI
Exec=/usr/local/bin/docker-compose -f /usr/share/movai-studio/launch/docker-compose.yml up movai-cli
Icon=xterm
Terminal=true
StartupWMClass=MOV.AI Studio
MimeType=application/octet-stream;application/zip;text/xml;text/xml;x-scheme-handler/movai;
Type=Application
Categories=Development;
