[Desktop Entry]
Name=MOV.AI Studio RViz
GenericName=ROS RViz
Comment=MOV.AI Development Studio RViz
Exec=/usr/bin/movai-studio-rviz
Icon=rviz-package
Terminal=true
StartupWMClass=MOV.AI Studio
MimeType=application/octet-stream;application/zip;text/xml;text/xml;x-scheme-handler/movai;
Type=Application
Categories=Development;
PrefersNonDefaultGPU=true
