[Desktop Entry]
Name=MOV.AI Studio Simulator
GenericName=ROS Simulator
Comment=MOV.AI Development Studio Simulator
Exec=/usr/bin/movai-studio-simulator
Icon=ignition_logo
Terminal=false
StartupWMClass=MOV.AI Studio
MimeType=application/octet-stream;application/zip;text/xml;text/xml;x-scheme-handler/movai;
Type=Application
Categories=Development;
