    [Unit]
    Description=movai-flow
    Requires=docker.service
    After=docker.service
    StartLimitIntervalSec=60

    [Service]
    Type=simple
    User=root
    Group=docker
    EnvironmentFile=-/etc/movai-flow/config.env
    WorkingDirectory=/usr/share/movai-flow
    # Shutdown container (if running) when unit is started
    ExecStartPre=/usr/local/bin/docker-compose -f /usr/share/movai-flow/docker-compose.yml down
    # Start container when unit is started
    ExecStart=/usr/local/bin/docker-compose -f /usr/share/movai-flow/docker-compose.yml up
    # Stop container when unit is stopped
    ExecStop=/usr/local/bin/docker-compose -f /usr/share/movai-flow/docker-compose.yml down

    [Install]
    WantedBy=multi-user.target