[Desktop Entry]
Name=MOV.AI Flow CLI
GenericName=MOV.AI CLI
Comment=MOV.AI Development Flow CLI
Exec=/usr/bin/movai-flow-cli
Icon=xterm
Terminal=true
StartupWMClass=MOV.AI Flow
MimeType=application/octet-stream;application/zip;text/xml;text/xml;x-scheme-handler/movai;
Type=Application
Categories=Development;
