[Desktop Entry]
Name=MOV.AI Flow™ Simulator
GenericName=Ignition Gazebo Simulator
Comment=World Launcher for Ignition Gazebo Simulator
Exec=/usr/bin/movai-flow-simulator
Icon=ignition_logo
Terminal=true
StartupWMClass=MOV.AI Flow™
MimeType=application/octet-stream;application/zip;text/xml;text/xml;x-scheme-handler/movai;
Type=Application
Categories=Development;
PrefersNonDefaultGPU=true
