*.deb
artifacts/
debian/movai-flow/
logs/
models_database/fuel/
debian/files/
debian/.debhelper/generated/movai-flow/installed-by-dh_installdocs
rviz/persistent_settings
debian/debhelper-build-stamp
debian/files
debian/movai-flow.debhelper.log
debian/movai-flow.substvars
debian/.debhelper/generated/movai-flow/installed-by-dh_install
*.code-workspace
config/config.env
