Source: movai-flow
Maintainer: Maintainer <maintainer@mov.ai>
Section: devel
Priority: optional
Homepage: https://mov.ai
Build-Depends: unzip, debhelper (>= 7.4.3)
Standards-Version: 4.5.1


Package: movai-flow
Architecture: all
Section: devel
Homepage: https://mov.ai
Priority: optional
Conflicts: movai-service, movai-studio
Depends: ${misc:Depends}, docker-ce (>= 20.10.8), docker-ce-cli
Suggests: nvidia-container-toolkit
Description: MOV.AI Flow™
    An IDE that introduces visualization and structure to ROS. Develop faster, understand ROS projects in an instant, and debug easily
