name: "Deploy - To Nexus On Github Release"
on:
  release:
    types: [released]

jobs:
  Release-Ros-Component:
    uses: MOV-AI/.github/.github/workflows/ros-workflow.yml@feat/enable-multi-prod-publish
    with:
      release: 'true'
      ros_distro: '["noetic"]'
      prod_publish_repos: '["ppa-public"]'
    secrets:
      auto_commit_user: ${{ secrets.RAISE_BOT_COMMIT_USER }}
      auto_commit_mail: ${{ secrets.RAISE_BOT_COMMIT_MAIL }}
      registry_user: ${{ secrets.PORTUS_APP_USER }}
      registry_password: ${{ secrets.PORTUS_APP_TOKEN }}
      nexus_publisher_user: ${{ secrets.TMP_PACKAGE_DEPLOYER_NX_USR }}
      nexus_publisher_password: ${{ secrets.TMP_PACKAGE_DEPLOYER_NX_PWD }}
      aws_sqs_rosdep_access_key: ${{ secrets.AWS_SQS_ROSDEP_ACCESS_KEY }}
      aws_sqs_rosdep_secret_access_key: ${{ secrets.AWS_SQS_ROSDEP_SECRET_ACCESS_KEY }}
      gh_token: ${{ secrets.GITHUB_TOKEN }}
      sonar_token: ${{ secrets.SONAR_TOKEN }}
